PORT=3001
NODE_ENV=development

# Configuración de Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=contrasena_segura
DB_NAME=clinica_salud_integral

# Seguridad
JWT_SECRET=contrasena_super_secreta_y_compleja_para_firmar_jwts_2026
FRONTEND_URL=http://localhost:3000